
<div> class='col-xs-12'>

<h1>style="color:#cc3333;"> Edit book</h1>
<div class="well">
  <%= simple_form_for @book do |f| %>
  <%= f.input :title, label:false input_html: {placeholder: "Title"} %>
<p>Find me in app/views/books/edit.html.erb</p>
